.markdown {
  @apply leading-normal break-words;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply text-blue-600 font-semibold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight text-4xl font-semibold mb-4 mt-0 pb-2;
}

.markdown h2 {
  @apply leading-tight text-2xl font-semibold mb-4 mt-0 pb-2;
}

.markdown h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-0;
}

.markdown h4 {
  @apply leading-none text-base font-semibold mb-4 mt-0;
}

.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-0;
}

.markdown h6 {
  @apply leading-tight text-sm font-semibold mb-4 mt-0;
}

.markdown p {
  @apply mb-4;
}

.markdown blockquote {
  @apply text-base border-l-4 border-gray-300 py-4 px-6 mb-4 bg-black/[.05];
}

.markdown blockquote > p {
  @apply mb-0;
}

.markdown code {
  @apply font-mono text-sm inline text-blue-500 rounded;
}

/* monospace */
.markdown p code {
  @apply font-mono text-sm inline bg-blue-100 dark:bg-blue-900 text-blue-500 dark:text-blue-200 px-1 py-0.5 rounded;
}

.markdown pre {
  @apply bg-gray-100 dark:bg-gray-900 dark:bg-opacity-50 mb-4 rounded p-4 overflow-auto;
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-base pl-8 list-disc mb-4;
}

.markdown ol {
  @apply text-base pl-8 mb-4 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}

.markdown hr {
  @apply text-gray-600 mb-4;
}
